body{
    font-size: 16px;
    font-family: sans-serif;
    background-color: rgb(67, 13, 88);
    color: #5d5d5d;
}
button{
    display: flex;
    color: solid;
    border: 3px;
    justify-content: center;
    background-color: blue;
    color: white;
    border-radius: 15px;
}

.s1{
    display: grid;
    background-color: rgb(216, 160, 40);
}
.s2{
    display: none;
    background-color: rgb(255, 255, 255);
}

input:valid{
    border: 3px solid rgb(26, 136, 54);
    background-color:  solid black;
}

input:invalid{
    border: 3px solid rgb(185, 37, 37);
    background-color: 3px gray;
}
